body {
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 10px;
}

@media(min-width:1200px) {
    body {
        font-size: 10px;
    }
}

@media(max-width:767px) {
    body {
        font-size: 6px;
    }

    #productNav ul li {
        margin-bottom:40px;
    }
}


h1 {
    padding-left: 15px; 
    font-size: 8em;
}

h2 {
    line-height: 0.8em;
    font-size: 3em;
}

h5 {
    font-size: 1.6em;
}

section{
    margin-bottom:30px;
}

a {
    text-decoration: none;
    color: #000;
}

    a:hover {
        text-decoration: none;
        color: #000;
    }

    a:link {
        text-decoration: none;
        color: #000;
    }

.productSwitch {
    font-size: 1.8em;
    vertical-align: bottom;
}



section p {
    text-indent: 10px;
    font-size: 1.6em;
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 10px;
}

div.verhaal:not(:first-child) {
    /*border-top: solid;
    border-top-width:thin;
    border-top-color: #000;*/
    padding-top: 20px;
    padding-bottom: 20px;
}
    

#logoDiv img {
    width: 180px;
    height: 120px;
    margin: auto;
    display: block;
}

#contactDiv {
    overflow: hidden;
    height:100%;
}

    #contactDiv p {
        font-size: 1.8em;
        padding: 0px;
        margin: 0px;
    }


#homeNav {
    font-size: 3em;
    margin-right: auto;
    margin-left: auto;
}

    #homeNav ul {
        list-style: none;
        padding-left: 10px;
    }

        #homeNav ul li {
            line-height: 1em;
            padding: 0px;
            margin-top: 0px;
        }

            #homeNav ul li a[aria-expanded="true"] {
                text-decoration: underline;
            }

            #homeNav ul li a:active {
                text-decoration: underline;
            }

            

            #homeNav ul li a:visited {
                text-decoration: underline;
            }

#productNav {
    font-size: 5em;
}

    #productNav ul {
        text-align: center;
        list-style: none;
        padding-left: 10px;
        padding-right: 10px;
    }

        #productNav ul li {
            line-height: 1em;
            padding: 0px;
            margin-top: 20px;
        }


#materialen {
    line-height: 0.6em;
}

    #materialen a {
        text-decoration: underline;
        line-height: 0.6em;
    }

/*bootstrap overrides*/

.carousel-control-prev:hover {
    color: #000;
}

.carousel-control-next:hover {
    color: #000;
}

.carousel-control-prev:link {
    color: #000;
}

.carousel-control-next:link {
    color: #000;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;
}
